<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Madlibs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

  <h1>Welcome to Madlibs</h1>
  <h2>Fill out the fields below to generate an awesome story!</h2>
  <form action="/display" method="post">
    <label for="adjective">Adjective</label>
    <input id="adjective" name="adjective" type="text">
    <label for="animal">Animal</label>
    <input id="animal" name="animal" type="text">
    @if(@Model.StoryNumber == "1") {
      <label for="food1">Food1</label>
      <input id="food1" name="food1" type="text">
      <label for="verb">Verb</label>
      <input id="verb" name="verb" type="text">
      <label for="saying">Saying</label>
      <input id="saying" name="saying" type="text">
      <label for="noun">Noun</label>
      <input id="noun" name="noun" type="text">
      <label for="food2">Food2</label>
      <input id="food2" name="food2" type="text">
      <label for="color">Color</label>
      <input id="color" name="color" type="text">
      <label for="ride">Ride</label>
      <input id="ride" name="ride" type="text">
      <label for="person">Person</label>
      <input id="person" name="person" type="text">
    }
    

    <button type="submit">View your story!</button>
  </form>
</body>
</html>



