<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Madlibs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <h1>Welcome to Madlibs</h1>
  @* <p><a href="/form">Start story 1!</a></p> *@

  <form action="/form" method="get">
    <label for="storyNumber">Choose story one or two!</label>
    <input type="number" min="1" max="2" name="storyNumber" id="storyNumber">
    <button type="submit">Start story</button>
  </form>
</body>
</html>



